---
import { Picture } from 'astro:assets'

const { path, alt, width, height, index } = Astro.props
---
<a
  href={path}
  data-pswp-width={width}
  data-pswp-height={height}
  data-cropped="true">
  <Picture
    alt={alt}
    inferSize
    formats={['avif', 'webp']}
    style={"--i: " + index}
    class="block h-full w-full object-cover object-center animate-fade-in-index animate transition duration-500 transform scale-100 hover:scale-110"
    src={path}
  />
</a>
