---
import BaseLayout from "./BaseLayout.astro"
import GridImage from "../components/gridimage.astro"

export type GridPageImage = {
  path: string
  width: number
  height: number
  alt: string
  rows?: number | 1
  cols?: number | 1
}

const { cols, images } = Astro.props
---
<BaseLayout>
  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox"
    import PhotoSwipe from "photoswipe"
    import "photoswipe/style.css"

    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery-index",
      children: "a",
      pswpModule: PhotoSwipe,
    })
    lightbox.init()
  </script>
  <h1 class="text-4xl pt-10 pb-8 font-bold">PORTFOLIO</h1>
  <section class="text-neutral-700">
    <div class="container w-full">
      <div
        class={`grid gap-2 grid-cols-1 md:grid-cols-${cols} md:auto-rows-[90px] w-full`}
        id="gallery-index">
        {images.map((img, index) => {
          let className = "overflow-hidden"
          if (img.rows && img.rows > 1) className += ` md:row-span-${img.rows}`
          if (img.cols && img.cols > 1) className += ` md:col-span-${img.cols}`
          return (
            <div class={className}>
              <GridImage
                path={img.path}
                width={img.width + ""}
                height={img.height + ""}
                alt={img.alt}
                index={index}
              />
            </div>
          )
        })}
      </div>
    </div>
  </section>
</BaseLayout>
